
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  /* font-size: 62.5%; */
}
body {
  overflow: hidden;
}

$w: 30.6rem;
$h: 54rem;
$headerH: 6rem;
$cardW: 24rem;
$cardH: 32rem;
$cardTopH: 20.5rem;
$cardBtmH: $cardH - $cardTopH;
$imgSize: 10rem;

$purple: #7132B9;
$blue: #248CB6;
$indigo: #303F9F;
$cyan: #26C6DA;
$lime: #AFB42B;
$brown: #795548;

$orange: #FF945A;
$green: #B1DA96;

.demo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30.6rem;
  height: 80vh;
  margin-left: 30.6rem/-2;
  margin-top: 54rem/-2;
  background: #F6F6F5;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

  .demo__header {
    height: 6rem;
    background: #002942;
  }
  
  .demo__content {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    height: 80vh;
    /* padding-top: 4.5rem; */
    user-select: none;
  }
  
  .demo__card-cont {
    position: relative;
    /* width: 24rem; */
    height: 50vh;
    margin: 0 auto 5rem;
  }
  
  .demo__card {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%;
  }  
    .reset {
      transition: transform 0.3s;
      transform: translateX(0) !important;
    }  
      .demo__card__choice {
        transition: opacity 0.3s;
        opacity: 0 !important;;
      }
    
    
    .inactive {
      transition: transform 0.3s;
    }
    
    .to-left {
      transform: translateX(-30rem) rotate(-30deg) !important;
    }
    
    .to-right {
      transform: translate(30rem) rotate(30deg) !important;
    }
    
    .below {
      z-index: 1;
    }
    
   .demo__card__top {
      height: 20.5rem;
      padding-top: 4rem;
   } 
      .purple {
        background: purple;
      }
      .blue {
        background: blue;
      }
      .indigo {
        background: indigo;
      }
      .cyan {
        background: cyan;
      }
      .lime {
        background: lime;
      }
      .brown {
        background: brown;
      }

    
    
  
    .demo__card__choice {
      position: absolute;
      left: 0;
      top: 0;
      /* width: 100%; */
      /* height: 100%; */
      opacity: 0;
    }
      .demo__card__choice:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-left: -1rem;
        color: #fff;
        border-radius: 50%;
        box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
      }
      
      .demo__card__choice:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 4rem;
        height: 1.5rem;
        margin-left: -2rem;
        border: 0.6rem solid #fff;
        border-bottom: none;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
      }
      
      .m--reject {
        background: orange;
      }
      .m--like {
        background: green;
      }
        :after {
          transform: scaleY(-1);
        }
      
      
      

    
    /* .demo__card__drag {
      z-index: -2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: grab;
    } */



   