/*---------------------------------------
| MOBILE INTERFACE STYLE
----------------------------------------*/
body{
    background-color: #fff;
}

/*---------------------------------------
|  HEADER STYLE
----------------------------------------*/

#mobile .mobile-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.5);
}

.mobile-header .bar1, .mobile-header .bar2, .mobile-header .bar3 {
    width: 35px;
    height: 2px;
    background-color: #0f2862;
    margin: 7px 0;
    transition: 0.4s;
}


/*---------------------------------------
|  SIDEBAR STYLE
----------------------------------------*/

#mobile #sidebar{
    display: block;
    overflow-x: hidden;
    width: 0% ;
    min-width: 0%;
    max-width: 100%;
    transition: 0.5s all;
}

 .sidebar-active{
    width: 100%  !important;
    min-width: 100% !important;
    /* display: block !important; */
}





/*---------------------------------------
|  MAIN SECTION STYLE
----------------------------------------*/
#mobile .main-section{
    margin: 50px 0;
    width: 100%;
}
#mobile .mobile-main{
    margin-left: 0px;
    margin-top: 10px;
    padding: 0;
}
.f-container-mobile{
    width: 100%;
    text-align: center;
}


/*---------------------------------------
|  FOOTER STYLE
----------------------------------------*/

#mobile .mobile-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
}

#mobile .mobile-footer .footer {
    padding:0 24px;
    height: 55px;
    background: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.mobile-footer .header-menu{
    display: flex;
    justify-content: space-around;
}   

#mobile .mobile-footer ul li a{
  padding:16px 6px;
  cursor: pointer;
}



#mobile .mobile-footer a.img{
    padding-top: 7px;
    display: inline-block;  
}


/*---------------------------------------
|  MAIN PAGE
----------------------------------------*/

#mobile .box-card{
    padding: 4rem 2rem;
    width: 100%
}
#mobile .box-card .user-card{
    width: 100%;
}
#mobile .box-card .user-card .img-cont{
    width: 100%;
}

