/*---------------------------------------
| MOBILE INTERFACE STYLE
----------------------------------------*/
body{
    background-color: #fff;
}

#mobile .scroll::-webkit-scrollbar {
width: 12px;
}

#mobile .scroll::-webkit-scrollbar-track {
-webkit-box-shadow: none;
background:transparent;
}
#mobile .scroll::-webkit-scrollbar-thumb {
border-radius: 1px;
-webkit-box-shadow: none;
background:transparent;
}*

/*---------------------------------------
|  HEADER STYLE
----------------------------------------*/

#mobile .mobile-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.5);
}

.mobile-header .bar1, .mobile-header .bar2, .mobile-header .bar3 {
    width: 35px;
    height: 2px;
    background-color: #0f2862;
    margin: 7px 0;
    transition: 0.4s;
}


/*---------------------------------------
|  SIDEBAR STYLE
----------------------------------------*/

#mobile #sidebar{
    display: block;
    overflow-x: hidden;
    width: 0% ;
    min-width: 0%;
    max-width: 100%;
    transition: 0.5s all;
}

 .sidebar-active{
    width: 100%  !important;
    min-width: 100% !important;
    /* display: block !important; */
}





/*---------------------------------------
|  MAIN SECTION STYLE
----------------------------------------*/
#mobile .main-section{
    margin: 50px 0;
    width: 100%;
}
#mobile .mobile-main{
    margin-left: 0px;
    margin-top: 10px;
    padding: 0;
}
.f-container-mobile{
    width: 100%;
    text-align: center;
}


/*---------------------------------------
|  FOOTER STYLE
----------------------------------------*/

#mobile .mobile-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}

#mobile .mobile-footer .footer {
    padding:0 24px;
    height: 55px;
    background: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.mobile-footer .header-menu{
    display: flex;
    justify-content: space-around;
}   

#mobile .mobile-footer ul li a{
  padding:16px 6px;
  cursor: pointer;
}



#mobile .mobile-footer a.img{
    padding-top: 7px;
    display: inline-block;  
}


/*---------------------------------------
|  MAIN PAGE
----------------------------------------*/

#mobile .box-card{
    padding: 4rem 2rem;
    width: 100%
}
#mobile .box-card .user-card{
    width: 100%;
}
#mobile .box-card .user-card .img-cont{
    width: 100%;
}


/*---------------------------------------
|  CONNECTION PAGE
----------------------------------------*/
#mobile .conn-list .small-option {
    right: 3px;
    top: 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.116);
}


/*---------------------------------------
|  SETTINGS PAGE
----------------------------------------*/
#mobile .set-box ul li a{
    font-size: 14px;
}

/*---------------------------------------
|  MESSAGE PAGE
----------------------------------------*/
#mobile .chat-area {
   display: fixed;
}
#mobile .chat-body {
    overflow-y: scroll;
    height: 61vh;
}

#mobile .chat-footer textarea {
  
    display: inline-block;
    width: 85% !important;
    padding: .5rem;
    /* margin-bottom: -5px; */
    resize: none;
    height: 30px;
  
}

.chat-header .options .dropleft .dropdown-toggle::before {
    display: none;
}

.chat-header .options .dropdown-menu {
    left: 0;
    min-width: 4rem;
}

.chat-header .options .dropdown-item{
    color: #0f2862;
}

/*---------------------------------------
|  OWL
----------------------------------------*/
.owl-dots{
    text-align: center !important;
}
button.owl-dot {
    background: rgba(0, 0, 0, 0.247) !important;
    color: inherit;
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px;
    margin : 0 3px !important;
}
.owl-dots  .active{
    background: #0f2962 !important;
}

/*---------------------------------------
|  MODAL ADDON
----------------------------------------*/

.feat-down .card-body span.text-center{
    font-size: 12px;
}