/* ---------------------------------------------------
    PROFILE PAGE STYLE
----------------------------------------------------- */
.box-card{
    display: block !important;
    padding: 3rem 4rem ;
    width: 100%;
}



/* IMAGE HEADING STYLE */

.img-wrapper{
    display: block;
    width: 100%;
    position: relative;
}
.profile-img{
    /* display: inline-block; */

    width: 140px;
    margin: 0 auto;
}
.p-img{
    text-align: center;
    position: relative;
    width: 140px;
}
.p-img img{
    border: 2px solid #ffda05;
    width: 140px;
}



.profile-img .cam{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.b-info{
    text-align: center;
    margin-top: 1rem;
}

.b-info .b-name{
    font-size: 16px;
    font-weight: 600;
}
.b-info .b-loc{
    font-size: 14px;
}

/* PROFILE INFOMATION STYLE */

.p-content{
    /* display: flex; */
    position: relative;
    width: 100%;
    margin-top: 2rem; 
}

.detail{
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0 ,0 ,0 , .13);
    padding: 5px 0;
}
/* .detail-type{

} */
.detail span.title{
    display: block;
    font-size: 14px;
}
.detail span.val, .detail span.sec-val {
    font-size: 14px;
    font-weight: 700;
}

.edit-btn{
    display: none;
}


/* ---------------------------------------------------
    ADD ON PAGE STYLE
----------------------------------------------------- */
.addon-content{
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

.addon-type{
    padding: 1rem .5rem 0;
}

.addon-type .type-text{
    padding:.5rem 0 0;
    /* border-bottom: 1px solid rgba(0 ,0 ,0 , .13); */
}

.type-text span{
    display: block;
}
.type-text span:first-child{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.type-text span{
    font-size: 14px;
    font-weight: lighter;
}
.feat-intro{
    margin-bottom: 3rem;
}
.feat-intro span.h5{
    margin-bottom: 0 !important;
}
.feat-intro span:last-child{
    font-size: 14px;
}
.feat-card{
    border-radius: 10px;
    margin-bottom: .5rem;
}
.feat-card .card-body{
    padding: 2rem 1rem;
}
.feat-card p{
    margin: 0 !important;
}
.feat-card span{
    font-size: 14px;
}
.feat-foot button{
    font-size: 14px !important;
    padding: .5rem 2rem;
}

/* ---------------------------------------------------
    MY CONNECTION STYLE
----------------------------------------------------- */
    .connection{
        padding: 0 !important;
        /* width: 380px; */
    }

    .conn-wrapper{
        padding:0;
    }
    .msg-wrapper{
        padding: 0;
    }
    .conn-head{
        padding: 1rem 2rem;
    }
    .conn-filter{
        padding: 1rem 2rem;
    }
    .conn-list{
        padding: 1rem 1rem;
        position: relative;
    }
    .conn-filter{
        position: relative;
        font-size: 14px;
        margin: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: rgba(98, 114, 152, 0.185);

    }
    span.filter{
        font-size: 1rem;
    }
    .connection-select{
        width: auto !important;
        display: inline-block !important;
    }

    .connection-select > .select-selected {
        border-bottom: 0 !important;
        color: #0f2862;
    }

    .connection-select >.select-selected:after {
        right: -1px;
        border-color: #0f2862 transparent transparent transparent;
    }
    .connection-select >.select-items div, .connection-select  >.select-selected {
        width: 120px; 
    }
    
    .hidden-search{
        width: 100%;
        height: 100%;
        padding: 1rem 1rem;
        position: absolute;
        display: none;  
        top:0;
        left:0;
        z-index: 1;
        /* background-color: rgba(195, 224, 250, 0.9); */
        background: linear-gradient(to right, rgba(244, 252, 255, 0.95), rgb(225, 233, 245));
    }

    .hidden-btn{
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 14px;
    }
    .search-close{
        font-size: 18px;
        position: absolute;
        top:10px;
        right: 15px
    }
    .search{
        display: none;
    }
     .search-box{
        display: inline-block;
        border-bottom: 1px solid #0f2862;
        margin: 8px 1px;

    }
    .search-box input[type=search]{
        border:none;
        background: transparent;
    }
    .hidden-search .search-box, .hidden-search input[type=search]{
        display: block;
        width: 100%;
        font-size: 16px;
        font-weight: 300;
    }
     .hidden-search .search-box{
         padding: 0 1rem;
     }
    .search-box input[type=search]:focus{
        outline:none;
    }

    .conn-list img{
        max-width: 40px;
    }
    .conn-list .holder .conn-list .info{
        display: inline-block;
    }
    .conn-list .info{
        display: inline-block;
        padding-left: 10px;
    }

    .c-hr{
        width: 85%;
    }
     .conn-list .c-person{
       margin-bottom: 2.5rem;
       position: relative;
     }
    .conn-list .options{
        display: none;
        position: absolute;
        right: 2rem;
        top: 22px;
    }

    .conn-list .small-option-btn{
        position: absolute;
        right: 12px;
        top: 14px;
        display: block;
    }
    .conn-list .small-option{
        display: none;
        position: absolute;
        right: -40px;
        top: 12px;
        background-color: #fff;
        padding:8px 18px ;
        border-radius: 50px;
        box-shadow: 0 0 16px rgba(115, 181, 219, 0.548);
        /* -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg); */
        
    }
    .small-option a, .small-option span{
        display: inline-block;
        margin-right: 4px;
         /* -ms-transform: rotate(-90deg); 
        -webkit-transform: rotate(-90deg); 
        transform: rotate(-90deg); */
        font-size: 14px;
      
    }
    .conn-list span{
        display: block;
    }
    .conn-list span.name{
        font-size:16px;
        margin-bottom: 4px;
    }
    .conn-list span.job, .conn-list span.location{
        font-size:12px;
        line-height: 1;

    }




/* ---------------------------------------------------
    MESSAGE STYLES
----------------------------------------------------- */
    .row-msgn{
        margin-top: 30px;
    }
    .list-area{
        margin-right: -5px;
        display: none;  
    }
    .msgn .list-area{
      margin: 0;
      display: block;
    }

    list-area-active{
        display: block;
        height: 100vh;
    }
    .msgn list-area-active{
        display: block;
        height: 100%;
    }
    .chat-area-inactive{
        opacity: 0;
        height: 0px !important;
    }
    .msg-wrapper .scroll::-webkit-scrollbar{
        width: 5px;
    }
    .list-header{
        padding: 1rem;
        border-bottom: 1px solid rgba(0 ,0 ,0 , .13);
        font-size: 16px;
        position: relative;
    }
    .list-search{
        position: absolute;
        top:0;
        left:0;
        display: none;
        width: 100%;
        background: #fafafa;
        padding: .5rem;
        z-index: 1;
        
    }

    .list-search .search-box{
        border: none !important;
    }
    .l-img{
        display: inline-block;
        position: relative;
    }
    .l-img img{
        width: 60px;
    }
    .online-indicator{
        width: 14px;
        height: 14px;
        display: inline-block;
        position: absolute;
        bottom: 1px;
        right:2px;
        background: #eae;
        border-radius: 7px;
        border: 2px solid #fff;
    }
    .online{
        background-color: rgb(8, 185, 8);
    }
    .offline{
        background-color: rgb(168, 166, 166);
    }

    .list-header .dropdown >a{
        cursor: pointer;
    }
    .msg-search{
        position: absolute;
        top: 18px;
        right: 46px;
        cursor: pointer;
    }
    .list-close{
        position: absolute;
        top: 18px;
        right: 20px;
        cursor: pointer;
        display: inline;
    }
    
    .list-body{
         height: 80vh;
         overflow-y: scroll;
         overflow-x: hidden;
    }
    .msgn .list-body{
         height: 100%;
         overflow-y: auto;
         overflow-x: hidden;
    }
    .list{
        padding: 1rem;
        border-bottom: 1px solid rgba(0 ,0 ,0 , .13);
    }
    .list-info{
        padding-left: 10px;
        display: block;
    }
    .list-info .l-name{
        font-size: 13px;
        font-weight: bold;
        display: inline-block;
    }
    .list-info .l-job , .list-info .l-location{
        font-size: 11px;
        display: block;
        
    }
    .x-info{
        position: absolute;
        top: 0;
         right: 10px;
    }
    .star, .last-seen{
        font-size: 12px;
    }
    .starred{
        color: #ffd700;
    }

    .chat-area{
        /* overflow: hidden; */
         /* margin-left: -25px; */
    }

    .chat-header{
        padding: 8px 1.2rem;
        border-bottom: 1px solid rgba(0 ,0 ,0 , .13);
        font-size: 16px;
       
        position: relative;
    }
    .ch-img{
        position: relative;
        display: inline-block;
    }

    .ch-img img{
        width: 40px;
    }
   

    .chat-header .options{
        position: absolute;
        top: 10px;
        right: 20px;
     
    }

    .list-open{
        display: inline;
    }
     .chat-header .options a{
         padding-right: 2px;
     }

    .chat-footer{
        /* position: absolute; */
        border-top: 1px solid rgba(0 ,0 ,0 , .13);
        width: 100%;
        /* bottom: 0;
        left: 0; */
        /* margin-left: -9px; */
        padding:8px 1.2rem;
    }
    .chat-footer textarea{
        border: none;
        outline: none;
        color: #888 !important;
        font-weight: lighter !important;
        font-size: 14px;
        display: inline-block;
        width: 70%;
        padding: .5rem;
        /* margin-bottom: -5px; */
        resize: none;
        height: 30px;
        min-height: 0;
        max-height: 100px;
        overflow: hidden;
        word-break: break-all;
    }
    .msgn .chat-footer textarea{
        width: 85%;
    }
     .chat-footer textarea:focus{
        outline: none;
     }
     .chat-footer a.send{
         background: #0f2862;
         color: #fff;
     }

     .chat-body{
         overflow-y: scroll;
         height: 67vh;
         padding: 2rem;
     }

     /* .chat-body .c-img{
         position: relative;
     } */
     .chat{
         margin-bottom: 1rem;
     }
     .receive .c-img img{
         position: absolute;
         bottom:0;
         right:0;
     }
     .send .c-img img{
         position: absolute;
         bottom:0;
         left:0;
     }
     .bubble-toast{
         padding: 1rem;
         border-radius: 10px;
         font-size: 12px;
         /* display: inline-block; */
     }
    .receive .bubble-toast{
        background: #e0dfdf;
        color: #000;
        text-align: left;
    }
    .receive .bubble-toast::before{
        content: ''; 
        position: absolute; 
        bottom: 0px; 
        left: 7px; 
        width: 0; 
        height: 0; 
        border: 23px solid transparent; 
        border-right-color: #e0dfdf; 
        border-bottom: 0; 
        border-left: 0; 
       
    }
    .send .bubble-toast::before{
        content: ''; 
        position: absolute; 
        bottom: 0; 
        right: 7px; 
        width: 0; 
        height: 0; 
        border: 23px solid transparent; 
        border-left-color: #176ebe; 
        border-bottom: 0; 
        border-right: 0; 
       
    }
    .send .bubble-toast{
        background: #176ebe;
        color: #ffffff;
         /* margin-left: -8px; 
        margin-bottom: -17px; */
        text-align: right;
    }


/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media(min-width: 320px) and (max-width: 360px){
   .chat-body{
       padding: 2rem;
   }
   .bubble-toast {
    font-size: 10px;
   }
   .chat-footer {
    padding: 8px .5rem;
}
    .chat-header .options {
        font-size: 10px;
    }
    .receive{
        margin-right: -17px;
    }
    .send{
        margin-left: -17px;
    }
  
}
@media(min-width: 600px){
    
    .box-card{
        width: 100% ;
        padding: 1rem 1rem !important;
    }

     .connection{
        padding: 0 !important;
          /* width: 560px; */
    }
    .type-text{
        padding:0.5rem 1rem 0.5rem !important;
       
    }
      .conn-list span.job, .conn-list span.location{
        font-size:12px;
    }
}
@media(min-width: 768px){
    .box-card{
        width: 100% ;
        padding:1rem !important;
    }
     .connection{
        padding: 0 !important;
    }
     .conn-list{
        padding: 1rem 2rem;
    }
     .conn-list span{
        line-height: 1.5;
    }
     .conn-list img{
        max-width: 60px;
    }
     .conn-list span.name{
        font-size:20px;
    }
    .conn-list span.job, .conn-list span.location{
        font-size:12px;
    }

    .conn-list .info{
        padding-left: 1rem;
    }
    .ps{
        padding: 2rem !important;
    }
}
@media(min-width: 992px){
    .box-card{
        width: calc(1024px - 546px) ;    
    }
    chat-footer textarea{
        width: 80%;
    }
     .chat-header .options a{
         padding-right: 10px;
     }
    
}
@media(min-width:1200px){

    .list-area{
        display: block
    }
    .msgn .chat-area{
        margin-left: 0;
    }
    .chat-area{
        margin-left: -25px;
    }

    .bubble-toast{
        font-size: 14px;
    }
    .list-open{
        display: none;
    }
    .msg-search{
        position: absolute;
        top: 18px;
        right: 20px;
        cursor: pointer;
    }
    .list-close{
       display: none;
    }

}
@media(min-width:1280px){
    .box-card{
        width: calc(1280px - 546px);    
    }
    .conn-list .options{
        display: block;
        position: absolute;
        right: 2rem;
        top: 22px;
    }
    .conn-list .small-option, .conn-list .small-option-btn{
        display: none;
    }
    .holder{
        margin-left: -50px;
    }
    .search{
        display: block;
    }
    .hidden-btn{
        display: none;
    }

     .chat-header .list-info{
        margin-left: -32px;
    }

    .list-area{
        display: block;
    }
     .l-img img{
        width: 50px;
    }
       .ps{
        width: calc(1500px - 1000px);  
        padding: 3rem !important; 
    }
       .tps {
        padding: 3rem 6rem !important;
    }

  
}

@media (min-width: 1366px){
    .box-card{
        width: calc(1366px - 546px);
    }
     .l-img img{
        width: 60px;
    }
     .ps{
        width: calc(1500px - 946px);  
        padding: 3rem !important; 
    }
       .tps {
        padding: 3rem 6rem !important;
    }
     .i-icon {
        right: 46% !important;
    }

}
@media (min-width: 1500px) {
    .box-card{
        width: calc(1500px - 554px);    
    }
    .ps{
        width: calc(1500px - 1000px);  
        padding: 3rem !important; 
    }

    .temp-wrapper{
        padding:  3rem 6rem !important;
    }
     .tps {
        padding: 3rem 9rem !important;
    }
     .conn-list span.job, .conn-list span.location{
        font-size:14px;
    }
}