/* ---------------------------------------------------
    PROFILE PAGE STYLE
----------------------------------------------------- */
.box-card{
    display: block !important;
    padding: 3rem 4rem !important;
    width: 100%;
}



/* IMAGE HEADING STYLE */

.img-wrapper{
    display: block;
    width: 100%;
    position: relative;
}
.profile-img{
    /* display: inline-block; */

    width: 140px;
    margin: 0 auto;
}
.p-img{
    text-align: center;
    position: relative;
    width: 140px;
}
.p-img img{
    border: 2px solid #ffda05;
    width: 140px;
}

.profile-img .cam{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.b-info{
    text-align: center;
    margin-top: 1rem;
}

.b-info .b-name{
    font-size: 16px;
    font-weight: 600;
}
.b-info .b-loc{
    font-size: 14px;
}

/* PROFILE INFOMATION STYLE */

.p-content{
    /* display: flex; */
    position: relative;
    width: 100%;
    margin-top: 2rem; 
}

.detail{
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0 ,0 ,0 , .13);
    padding: 5px 0;
}
/* .detail-type{

} */
.detail span.title{
    display: block;
    font-size: 14px;
}
.detail span.val, .detail span.sec-val {
    font-size: 14px;
    font-weight: 700;
}

.edit-btn{
    display: none;
}


/* ---------------------------------------------------
    ADD ON PAGE STYLE
----------------------------------------------------- */
.addon-content{
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

.addon-type{
    padding: 1rem .5rem 0;
}

.addon-type .type-text{
    padding:.5rem 0 0;
    /* border-bottom: 1px solid rgba(0 ,0 ,0 , .13); */
}

.type-text span{
    display: block;
}
.type-text span:first-child{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.type-text span{
    font-size: 14px;
    font-weight: lighter;
}
.feat-intro{
    margin-bottom: 3rem;
}
.feat-intro span.h5{
    margin-bottom: 0 !important;
}
.feat-intro span:last-child{
    font-size: 14px;
}
.feat-card{
    border-radius: 10px;
    margin-bottom: .5rem;
}
.feat-card .card-body{
    padding: 2rem 1rem;
}
.feat-card p{
    margin: 0 !important;
}
.feat-card span{
    font-size: 14px;
}
.feat-foot button{
    font-size: 14px !important;
    padding: .5rem 2rem;
}

/* ---------------------------------------------------
    MY CONNECTION STYLE
----------------------------------------------------- */
    .connection{
        padding: 0 !important;
        width: 380px;
    }

    .conn-wrapper{
        padding:0;
    }
    .conn-head{
        padding: 1rem 2rem;
    }
    .conn-filter{
        padding: 1rem 2rem;
    }
    .conn-list{
        padding: 1rem 1rem;
        position: relative;
    }
    .conn-filter{
        position: relative;
        font-size: 14px;
        margin: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: rgba(98, 114, 152, 0.185);

    }
    span.filter{
        font-size: 1rem;
    }
    .connection-select{
        width: auto !important;
        display: inline-block !important;
    }

    .connection-select > .select-selected {
        border-bottom: 0 !important;
        color: #0f2862;
    }

    .connection-select >.select-selected:after {
        right: -1px;
        border-color: #0f2862 transparent transparent transparent;
    }
    .connection-select >.select-items div, .connection-select  >.select-selected {
        width: 120px; 
    }
    
    .hidden-search{
        width: 100%;
        height: 100%;
        padding: 1rem 1rem;
        position: absolute;
        display: none;  
        top:0;
        left:0;
        z-index: 1;
        /* background-color: rgba(195, 224, 250, 0.9); */
        background: linear-gradient(to right, rgba(244, 252, 255, 0.95), rgb(225, 233, 245));
    }

    .hidden-btn{
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 14px;
    }
    .search-close{
        font-size: 18px;
        position: absolute;
        top:10px;
        right: 15px
    }
    .search{
        display: none;
    }
     .search-box{
        display: inline-block;
        border-bottom: 1px solid #0f2862;
        margin: 8px 1px;

    }
    .search-box input[type=search]{
        border:none;
        background: transparent;
    }
    .hidden-search .search-box, .hidden-search input[type=search]{
        display: block;
        width: 100%;
        font-size: 16px;
        font-weight: 300;
    }
     .hidden-search .search-box{
         padding: 0 1rem;
     }
    .search-box input[type=search]:focus{
        outline:none;
    }

    .conn-list img{
        max-width: 40px;
    }
    .conn-list .holder .conn-list .info{
        display: inline-block;
    }
    .conn-list .info{
        display: inline-block;
        padding-left: 10px;
    }

    .c-hr{
        width: 85%;
    }
     .conn-list .c-person{
       margin-bottom: 2.5rem;
       position: relative;
     }
    .conn-list .options{
        display: none;
        position: absolute;
        right: 2rem;
        top: 22px;
    }

    .conn-list .small-option-btn{
        position: absolute;
        right: 12px;
        top: 14px;
        display: block;
    }
    .conn-list .small-option{
        display: none;
        position: absolute;
        right: -40px;
        top: 12px;
        background-color: #fff;
        padding:8px 18px ;
        border-radius: 50px;
        box-shadow: 0 0 16px rgba(115, 181, 219, 0.548);
        /* -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg); */
        
    }
    .small-option a, .small-option span{
        display: inline-block;
        margin-right: 4px;
         /* -ms-transform: rotate(-90deg); 
        -webkit-transform: rotate(-90deg); 
        transform: rotate(-90deg); */
        font-size: 14px;
      
    }
    .conn-list span{
        display: block;
    }
    .conn-list span.name{
        font-size:16px;
        margin-bottom: 4px;
    }
    .conn-list span.job, .conn-list span.location{
        font-size:10px;
        line-height: 1;

    }

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

/* @media(max-width: 599px){
     .connection{
        width: 335px;
    }
} */
@media(min-width: 600px){
    .box-card{
        width: 100% ;
        padding: 1rem 1rem !important;
    }

     .connection{
        padding: 0 !important;
          /* width: 560px; */
    }
    .type-text{
        padding:0.5rem 1rem 0.5rem !important;
       
    }
      .conn-list span.job, .conn-list span.location{
        font-size:12px;
    }
}
@media(min-width: 768px){
    .box-card{
        width: 100% ;
        padding:1rem !important;
    }
     .connection{
        padding: 0 !important;
    }
     .conn-list{
        padding: 1rem 2rem;
    }
     .conn-list span{
        line-height: 1.5;
    }
     .conn-list img{
        max-width: 60px;
    }
     .conn-list span.name{
        font-size:20px;
    }
    .conn-list span.job, .conn-list span.location{
        font-size:12px;
    }

    .conn-list .info{
        padding-left: 1rem;
    }
}
@media(min-width: 992px){
    .box-card{
        width: calc(1024px - 546px) ;    
    }
}
@media(min-width:1280px){
    .box-card{
        width: calc(1280px - 546px);    
    }
    .conn-list .options{
        display: block;
        position: absolute;
        right: 2rem;
        top: 22px;
    }
    .conn-list .small-option, .conn-list .small-option-btn{
        display: none;
    }
    .holder{
        margin-left: -50px;
    }
    .search{
        display: block;
    }
    .hidden-btn{
        display: none;
    }
}

@media (min-width: 1366px){
    .box-card{
        width: calc(1366px - 546px);
    }
}
@media (min-width: 1500px) {
    .box-card{
        width: calc(1500px - 696px);    
    }

    .temp-wrapper{
        padding:  3rem 13rem !important;
    }
     .conn-list span.job, .conn-list span.location{
        font-size:14px;
    }
}