
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    font-family: 'Josefin Sans', sans-serif;
    background: #ebf3ff;
    font-size: 1.2rem;
    color: #0f2862;
}

p {

    font-weight: 300;
    line-height: 1em;
    
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}



/* ---------------------------------------------------
    HEADING STYLE
----------------------------------------------------- */

h3, h4, h5 {
    font-size: 14px;
}

.hidden-header{
    display: none;
}



/* ---------------------------------------------------
    MAIN
----------------------------------------------------- */

main{
    margin-left: 330px;
}
main.temp{
    margin-left: 396px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    position: relative;
    top:0;
}

#sidebar {
    min-width: 330px;
    max-width: 330px;
    height: 100vh;
    /* background: #f3f6fd; */
    background: #ebf3ff;;
    color: #0f2862;
    overflow-y: scroll;
    /* border-right: 2px solid #fff; */
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.05), 12px 0 12px rgba(0, 0, 0, 0.076);
    /* overflow: auto; */
    align-items: stretch;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s;
}

.sidebar-stiky{
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.active {
    
    display: block !important;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
}


#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active .navlink-active {
    display: none;
}


#sidebar .sidebar-header {
    padding:0 24px;
    height: 55px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.07);
    background: #fff;
}

.sidebar-close{
    display: none;
}
#sidebar .sidebar-header ul li a{
  padding:16px 6px;
  cursor: pointer;
}



#sidebar .sidebar-header .header-menu img{
    margin-top: 10px;
    height: 19px;
}
li.search{
        display: inline-block;
        position: relative;
        /* margin-left: 2rem; */
    }

li.search a{
    
    padding-top: 15px !important;
    font-size: 19px;

}


#sidebar .sidebar-header img.avatar {
    margin-top: 7px;
}
#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

/* SIDEBAR CATEGORY */
#sidebar .category-component{
    padding-right: 0;
    margin:0;
}
#sidebar .category{
    margin:0;
    padding:0
}
#sidebar .category .like-box{
    background-color: #fff;
   
}

#sidebar .category .cat-title{
    padding: 7px 28px 7px 24px ;
    font-size: 20px;
    text-transform: capitalize;
}
#sidebar .category .cat-body{
    background-color: #fff;
    color: #627298;
    padding: 10px 28px 10px 24px ;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;

}

.img-wrapper{
    display: block;
    width: 100%;
    position: relative;
}
.profile-img{
    /* display: inline-block; */

    width: 140px;
    margin: 0 auto;
}

.p-img{
    text-align: center;
    position: relative;
    width: 140px;
}
.p-img img{
    border: 2px solid #ffda05;
    width: 140px;
}
.p-info{
    text-align: center;
    margin-top: 1rem;
}
.p-info .p-name{
    font-size: 22px !important;
}
.p-info span{
    font-size: 16px;
}

.profile-img .cam{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.b-info{
    text-align: center;
    margin-top: 1rem;
}

.b-info .b-name{
    font-size: 16px;
    font-weight: 600;
}
.b-info .b-loc{
    font-size: 14px;
}

.box-link{
    padding:10px 0;
    border-bottom: 1px solid #627298;
    margin-bottom: 5px;
}
#sidebar .category .cat-body ul li{
    padding-bottom: 2px;
}

#sidebar .category .cat-body .icon{
    position: absolute;
    bottom: 12px;
    right: 10px;
}

.category button.foot-btn{
    position: relative;
}

.category button.foot-btn img{
    position: absolute;
    top: 4px;
    left: 4px;
}

.category button.logout-btn{
    position: relative;
    padding: 12px 20px;
    background-color: #d6d6d6;
    margin-bottom: 5rem;
}
/* .category button.logout-btn:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.192), 0 6px 12px rgba(0, 0, 0, 0.377);
} */

.category button.logout-btn img{
    position: absolute;
    top: 14px;
    left: 32%;
}


#sidebar form label{
    display: block;
}
#sidebar form input[type=text], #sidebar form input[type=email], #sidebar form select,#sidebar form input[type=password],#sidebar form input[type=tel]{
    border: none;
    border-bottom: 1px solid #627298;
    width: 100%;
}

#sidebar form input[type=range]{
    width: 100%;
}

#sidebar form input[type=text], #sidebar form input[type=email], #sidebar form input[type=password],#sidebar form input[type=tel]{
    color: #627298;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

#sidebar form input[type=text]:focus, #sidebar form input[type=email]:focus{
    outline: none ;

}

#sidebar form input[type=text]

#sidebar form input[type=range]{
    width: 100%;
}

/* range slider */



input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 2px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0 , #4070e1),
        color-stop(0, #d3d3d3)
    );
}
input[type="range"]:focus{
    outline: none !important;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 18px; 
    height: 18px; 
    border-radius: 50%;
    background: #fff;
    border:2px solid #6d7fcc; 
    box-shadow: 0 0 8px rgb(235, 240, 252), 0 0 12px rgb(227, 234, 250);
    cursor: pointer; 
}
input[type='range']::-moz-range-thumb {
    width: 12px; 
    height: 12px; 
    border-radius: 50%;
    background: #fff;
    border:2px solid #6d7fcc; 
    box-shadow: 0 0 8px rgb(235, 240, 252), 0 0 12px rgb(227, 234, 250);
    cursor: pointer; 
}




 /* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 15px;
  left: 3px;
  bottom: 3.8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4070e1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4070e1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12.5px;
}

.slider.round:before {
  border-radius: 50%;
} 







/* Custom select */
/*the container must be positioned relative:*/

.cat-body .settings{
    margin-bottom: 5px;
}  
.c-select {
  position: relative;
  width: 100%;
}

.c-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color:transparent;
  border-bottom: 1px solid #627298 !important;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #6d7fcc transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #6d7fcc transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #6d7fcc;
  padding: 8px 1px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  text-align: left;
  cursor: pointer;
}

/* special case */
.special .select-selected{
    text-align: right;
    padding-right: 24px;
}
/* settings page special */
.settings .select-selected{
    text-align: right;
    padding-right: 0;
}
.settings .select-selected:after{
    opacity: 0 !important;
}
.settings .select-selected.select-arrow-active:after {
  opacity: 0 !important;
}




/*style items (options):*/
.select-items {
  position: absolute;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.03);

}

.c-select span.label{
    position: absolute;
    top: 10px;
}




/* Scroll bar */

.scroll::-webkit-scrollbar {
width: 12px;
}

.scroll::-webkit-scrollbar-track {
-webkit-box-shadow: none;
background:#f3f6fd;
}
.scroll::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: none;
background:#406fe0;
}*



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    transition: all 0.3s;

}

.f-container{
    width: 100% !important;
    margin-left: 280px;
}
.f-container-temp{
    width: 100% !important;
    margin-left: 0;
}

.temp-wrapper{
    padding: 4rem;
}
.button-toggle{
    display:none;
    width: 100%;
}
.user-component{
    margin: 0 3rem 0 2rem;
}
.user-component .box-content{
    border-radius: 12px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.01), 10px 10px 20px rgba(0, 0, 0, 0.06);
    padding: 3rem;
}
.user-card-component .box-card{
    border-radius: 12px;
    padding: 4rem;
    background: #fff;
    display: -webkit-inline-box;
}
/* -USER CARD */

.user-card .img-cont{
    width: 300px;
    margin: 0 auto;
    
}
.user-card .user-image{
    width: 100%;
}
.user-info .img{
   margin-left: 5rem;
}
.user-card .control-btn {
   margin-top: .75rem;
}
.user-card .control-btn button{
   margin-right: 1px;
}
.user-card .control-btn button.btn{
    padding: .3rem .2rem; 
}
.user-card .control-btn button.btn span{
    font-size: 12px;
}
/* .user-card .control-btn button.btn-circle.btn-lg{
    width: 40px;
    height: 40px;
    border-radius: 20px;
} */
.user-card button.comment img{
    max-height: 35px ;
}

.overlay-name{
    position: absolute;
    bottom: 8px;
    left:10px;
    font-size: 24px !important;
    /* for white card text */
    /* color: #fff; */
    /* text-shadow: 0 0 16px rgba(0, 0, 0, 0.774); */
}
.i-icon{
    position: absolute;
    bottom: -20px;
    right: 45%;
} 

.up{
   position: absolute;
    top: -25px;
    right: 43%;  
    transition: .5s;
}

.i-icon i{
    font-size: 20px;
}
.report-icon{
    position: absolute;
    top: 12px;
    right: 52px;
    color: #888;
} 

.report-icon button{
    color: #888;
}
.report-icon:hover button{
    color: #e01010;
}
.share-icon{
    position: absolute;
    top: 12px;
    right: 15px;
    color: #888;
} 

.share-icon button{
    color: #888;
}
.share-icon:hover button{
    color: #10a5e0;
}

.hidden-info{
    display: none;
}

.base-info{
    padding: 1rem;
    width: 100%;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.13); */
}

.card-name{
    font-size: 22px;
    margin-bottom: 0 !important;
}
.card-place, .card-lbl{
    font-size: 16px;
    display: block; 
}
.card-distance{
    font-size: 14px;
    text-align: justify;
}


.txt{
    padding: 1rem;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.goal-info{
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);    
}

.goal-info .about-btn button {
    margin: 4px 2px;
    font-size: 12px !important;
    padding: 4px 16px;
}
.goal-info .about-btn{
    /* text-align: center; */
}
.social-info{
    padding: 1rem 0;
}






/*  */

.i-text{
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: .7rem;

}
.i-text .name{
    font-size: 1.2rem;
}
.i-text .place{
    font-size: 0.8rem;
    display: block;
}
.i-text .lbl{
    font-size: 0.8rem;
    display: block;
}
.i-text .distance{
    padding-left: 1rem;
    font-size: 0.8rem;
}

.ui-fooer{
    margin-left: -12px;
}

.ui-fooer button.comment{
    min-height: 30px;
    position: relative;
    
}

.ui-fooer button.reload{
    min-height: 15px;
}

.user-about{
    padding: 2rem 0;
}
.user-about .top-text{
    margin: 0  0.5rem 3.5rem 0.5rem;
    font-size: 14px;
}

.user-info .img img{
    max-height:204px; 
    max-width: 188px;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgb(243, 246, 253), 8px 8px 16px rgb(233, 238, 250);
}

.user-info .i-text span{
    margin-bottom: 2px;
    letter-spacing: 1px;
}
.user-info .control-btn{
    margin-top: 2rem;
}
.user-info .control-btn button{
     box-shadow: 0 0 12px rgb(227, 234, 250), 0 0 16px rgb(219, 229, 250);
     margin-right: 2px;
     position: relative;
}

.control-btn button{
     box-shadow: 0 0 12px rgb(227, 234, 250), 0 0 16px rgb(219, 229, 250);
     margin-right: 8px;
     position: relative;
}
.control-btn button:hover{
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.13), 0 0 12px rgba(0, 0, 0, 0.247);
    
}
.control-btn button.comment img{
    position: absolute;
    top: 5px;
    left: 1px;
}
.control-btn button.social img{
    max-width: 25px;
}
 button.side-social{
     position: relative;
     /* box-shadow: 0 0 8px rgb(235, 240, 252), 0 0 12px rgb(227, 234, 250); */
}
 button.side-social img{
    max-width: 25px;
}
.about-btn button{
    margin: 4px 5px;
    font-size: 14px !important;
    padding: 8px 20px;
}
/* .about-btn button{
    margin: 4px 5px;
    font-size: 12px !important;
    padding: 8px 20px;
} */
button.social{
    margin-left: 12px;
}
button.social img{
    position: absolute;
    top: 1.5px;
    left: 2px;
}
button.side-social img{
    position: absolute;
    top: -4px;
    left: 2px;
}
button.side-social i{
   font-size: 16px;
}







/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    box-shadow: none !important;
    margin-bottom: 0 !important;
}

/* ---------------------------------------------------
    HELPERS STYLE
----------------------------------------------------- */

.pr-0{
    padding-right: 0 !important;
}
.pl-0{
    padding-right: 0 !important;
}

.text-theme{
    color: #0f2862 !important;
}
.text-light{
    color: #627298 !important;
}
.text-blue{
    color: #4070e1;
}
.text-pink{
    color: #e61c41;
}
.text-purple{
    color: #9217b8;
}
.text-lemon{
    color: #67e003;
}
.text-orange{
    color: orange;
}

.text-golden{

    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ffde22), color-stop(1, #d45500));
    background-image: gradient( linear, left top, right top, color-stop(0, #ffde22), color-stop(1, #d45500) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.border-golden { 
    width: 100%;
    padding: 0;
    border-top: 1px solid #FFFF00;
    border-bottom:1px solid #FF0000;
    background-image: 
        linear-gradient(#FFFF00, #FF0000),
        linear-gradient(#FFFF00, #FF0000)
    ;
    background-size:1px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}



.t-s-1{
    letter-spacing: 1px;
}
.mt-40 {
    margin-top: 40px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.b-r {
    border-right: 1px solid rgba(0,0,0, .13896);
}

.f-s-12 {
    font-size: 12px !important;
}
.f-s-16 {
    font-size: 16px !important;
}
.f-s-18 {
    font-size: 18px !important;
}
.f-s-22 {
    font-size: 22px !important;
}

.theme-shadow{
    box-shadow: 0 0 8px rgb(235, 240, 252), 0 0 12px rgb(227, 234, 250);
}
.bg-blue{
    background-color: #4070e1;
    color: #fff;
}

.bg-grad-red{
    background: linear-gradient(to right, #e96a1d, #f20b27);
    color: #fff;
}

.bg-grad-violet{
    background: linear-gradient(to right, #b15be2, #7737f5);
    color: #fff;
}





/* ---------------------------------------------------
    BUTTON STYLE
----------------------------------------------------- */
/* toggle btn */
.t-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #406fe0;
    margin: 7px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}





.btn-theme-light-line{
    border: 2px solid #c3cfe7;
    background: transparent;
    color: #576891;
    font-size: 14px;
}
.btn-grad-blue{
    background: linear-gradient(to right, #406fe0, #6a97fd);
    color: #fff;
}


.btn-icon {
    background-color:#ffffff;
    border: 1px solid rgba(0,0,0, .13896);
}

.btn-icon:hover {
    border: 1px solid rgba(0,0,0, .38960);
}

.btn-m-w {
    min-width: 120px;
    margin-bottom: 5px;
}

.btn-rounded {
    border-radius: 50px;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}





/* ---------------------------------------------------
    FORMS STYLE
----------------------------------------------------- */



/* ---------------------------------------------------
    BOX STYLE
----------------------------------------------------- */



.box {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

/* .box-title {
    border-top: 3px solid #7386D5;
    background-color: #ffffff;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;

}

.box-title h5 {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
} */

.box-content {
    clear: both;
    border-top: 1px solid rgba(0,0,0, .03896);
    background: #ffffff !important;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-image: none;
}

.box-content p {
    margin: 0 0 5px;
    font-size: 13px;
    font-weight: 400;
}
.box-footer {
    clear: both;
    background-color: #ffffff;
    color: inherit;
    border-top: 1px solid rgba(0,0,0, .03896);
    padding: 14px 15px 7px;
}










/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 660px){
    body{
        font-size: .8rem;
    }
     .hidden-header{
        display: none !important;
    }
    main{
        margin-left: 0  !important;
        padding-left: 0 !important;

    }
    main.temp{
        margin-left: 0  !important;
        padding-left: 0 !important;
    }
    .temp-wrapper {
        padding: 1.5rem !important;
    }
     #sidebar {
        display: none;
        transition: all 0.3s;
        position: fixed;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
    }
    .category button.logout-btn img{
        position: absolute;
        top: 12px;
        left: 32%;
    }
    .f-container{
        margin-left: 0 !important;
    }
     .f-container p{
        padding-left: 0 !important;
    }
    .user-card-component .box-card {
        border-radius: 12px;
        padding:3rem .5rem;
        background: #fff;
        display: block;
    }
    .user-component .box-content{
       
        padding:1rem 2rem;
    }
    .user-card .img-cont{
        width: 270px;
    }

    .user-card .control-btn button{
         margin-right: 3px;
    }
    .user-card .control-btn button.btn{
        padding: .1rem .2rem ; 
    }
    .user-card .control-btn button.btn span{
        font-size: 10px;
    }
    .user-info .img img{
        max-width: 220px !important;
        max-height: 250px !important;
    }
    .user-info .img{
         margin-left: 0 !important;
    }
    .i-text{
        padding: 0 !important;
        margin:10px 0 0 0 !important;

    }
    .i-text .name{
        font-size: 16px;
    }
    .i-text .place{
        font-size: 14px;
    }
    .i-text .lbl{
        font-size: 14px;
    }
    .i-text .distance{
        padding-left: 3.2rem;
        font-size: 12px;
    }

    .control-btn button{
        margin-right: -2px !important;
    }
    .ui-fooer {
        margin-left: -10px !important;
    }
    .user-info .control-btn {
        text-align: center;
    }
    .ui-fooer .control-btn button.btn{
        padding: .1rem .375rem; 
    }
    .ui-fooer .control-btn button.btn span{
        font-size: 12px;
    }
    .ui-fooer .control-btn button.btn-circle.btn-lg{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .ui-fooer button.comment img{
        max-height: 30px ;
    }

    .about-btn button {
        margin: 4px 2px;
        font-size: 12px !important;
        padding: 4px 16px;
    }
   .button-toggle{
       display: block; 
   }
    .sidebar-close{
        display: inline-block;
        position: relative;
        margin-left: 2rem;
    }

    .sidebar-close a{
        position: absolute;
        top: -1px;
        left: -19px;
        color: #6d7fcc;
        font-size: 20px;
    }

    
}


@media (max-width: 768px) {

    /* sidebar */
   

    main{
        min-width: 100%;
        margin-left: 0 !important;
        padding-left: 200px;
       
    }
    main.temp{
        padding-left: 43px;
    }

    .hidden-header{
        display: block;
    }
    #sidebar{
        display: none;
    }
    .f-container{
        width: 100% !important;
        margin-left: 0;
    }
    .f-container p{
        padding-left: 137px;
    }
     .temp-wrapper {
        padding: 2.5rem;
    }
    /* .button-toggle{
       display: block; 
     
   } */
    .sidebar-close{
        display: inline-block;
        position: relative;
        margin-left: 2rem;
    }

    .sidebar-close a{
        position: absolute;
        top: -2px;
        left: -19px;
        color: #6d7fcc;
    }
    #sidebar .sidebar-header .header-menu{
        margin-right: 10px;
        height: 19px;
    }

   
    #sidebar.active {
        margin-left: 0 !important;
    }
   

    /* content */
    .user-component{
        margin: 0;
        width: 100%;

    }
    .user-info{
        padding: 4rem 0.5rem 4rem 0.5rem;
    }
    .user-info .img{
         margin-left: 0;
    }

    .i-text{
        display: flex;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;

    }
    .ui-fooer {
        margin-left: 0;
    }
    .user-info .control-btn button{
        margin-right: 3px;
        margin-bottom: 5px;
    }
    .user-info .control-btn {
        text-align: left;
    }

   
}

@media (max-width: 1024px) {
    main{
        min-width: 100%;
        margin-left: 400px;
    }

    #sidebar{
        height: 100%;
    }
    /* .button-toggle{
       display: block;
   }
   .sidebar-close{
        display: inline-block;
        position: relative;
        margin-left: 2rem;
    }

    .sidebar-close a{
        position: absolute;
        top: 4px;
        left: -19px;
        color: #6d7fcc;
    } */
    .user-about .top-text {
       
        font-size: 16px;
    }
}

@media (max-width: 1280px) {

    body{
        font-size: 1rem;
    }

   .user-component {

        margin: 0 1rem 0 .5rem;
    }
    .user-info{
        padding: 2rem 0.5rem 2rem 0.5rem;
    }
    .i-text{
        display: flex;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: 1rem;
        margin-left: 1rem;

    }
     .i-text .name{
        font-size: 16px;
    }
    .i-text .place{
        font-size: 12px;
    }
    .i-text .lbl{
        font-size: 12px;
    }
    .i-text .distance{
        padding-left: 3.2rem;
        font-size: 12px;
    }
    .user-info .img {
        margin-left: 3rem;
    }

     .about-btn button {
        margin: 4px 2px;
        font-size: 14px !important;
        padding: 6px 18px;
    }
    
   

}
@media (min-width: 1500px) {

    body{
        font-size: 1.5rem !important;
        
    }
    
    .user-card-component .box-card{
        border-radius: 12px;
        padding:3rem 1rem;
        background: #fff;
        display: -webkit-inline-box;
    }

    .f-container{
        margin-left: 380px;
    }

    main{
        margin-left: 500px;
    }

    #sidebar{
        min-width: 440px;
        max-width: 440px;
    }
    #sidebar .sidebar-header .nav-item img{
        min-width: 25px;
        min-height: 25px;
    }
    #sidebar .category .cat-title{
    font-size: 26px;
    }
    #sidebar .category .cat-body{
      
        font-size: 20px;
  
    }

    #sidebar .category .cat-body .icon {
        position: absolute;
        bottom: 2px;
        right: -1px;
    }
      
    .c-select{
        width:100%;
    }

    .top-text{
        font-size: 22px !important;
    }

    .about-btn button{
        font-size: 16px !important  ;
    }
    .control-btn button.social {
        width: 40px !important;
        height: 40px !important;
        padding: 6px 0;
        border-radius: 50px;
        text-align: center;
        font-size: 12px;
        line-height: 1.428571429;
    }
    .control-btn button.social {
        max-width: 40px;
    }
    .control-btn button.social img{
        max-width: 40px;
    }
    button.side-social i{
        font-size: 18px;
    }
     .user-info .img img{
        max-width: 250px !important;
        max-height: 280px !important;
    }

    .p-info .p-name{
        font-size: 2rem !important;
    }
    .p-info span{
        font-size: 20px;
    }
    .card-distance{
        font-size: 16px;
    }

    
    .user-card .img-cont{
        width: 400px;
        margin: 0 auto;
        
    }
    /* .goal-info .about-btn button {
        margin: 4px 1px;
        font-size: 12px !important;
        padding: 4px 10px;
    } */


    .txt{
        padding: 1rem;
        font-size: 18px;
        text-align: justify;
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }


    .i-text .name{
        font-size: 20px;
    }
    .i-text .place{
        font-size: 18px;
    }
    .i-text .lbl{
        font-size: 18px;
    }
    .i-text .distance{
        padding-left: 2rem;
        font-size: 14px;
    }
   
    input[type='range']::-webkit-slider-thumb, .theme-green .back-bar .pointer{
        width: 24px !important;
        height: 24px !important;
    }
    .theme-green .back-bar .pointer{
        top: -10px !important;
    }
    .slider-container .back-bar .pointer-label{
        top: -26px !important;
    }
    .txt{
        font-size: 1.2rem;
    }
    .goal-info  {
        text-align: center;
        font-size: 16px;
    }
    .goal-info .about-btn button {
        margin: 4px 1px;
        font-size: 16px !important;
        padding: 4px 10px;
    }

    .i-icon {
        right: 45%;
    }


}



